<nav class="navbar navbar-inverse"> 
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">INDIAN RAILWAYS</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </nav>

      <div class="container h-100 d-flex justify-content-center">
          <div class="jumbotron my-auto">
            <h1 class="display-3">Assign Motorman</h1>
            <div class="jumbotron my-auto">

          <div class="dropdown">
              <button class="btn btn-primary btn-lg" type="button" data-toggle="dropdown">--select--
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a  routerLink="/display">Akash</a></li>
                <li><a  routerLink="/display">Prasad</a></li>
                <li><a  routerLink="/display">Aniket</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>  


    <router-outlet></router-outlet>


            