<nav class="navbar navbar-inverse"> 
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">INDIAN RAILWAYS</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
           <!-- <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->



            <li class="dropdown">
              <a class="glyphicon glyphicon-user" data-toggle="dropdown" href="#">&nbsp;Sign-Up
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                <li><a href="/register">Passenger</a></li>




                
                
              </ul>
            </li>





            <!-- <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->


            <li class="dropdown">
              <a class="glyphicon glyphicon-log-in" data-toggle="dropdown" href="#">&nbsp;Sign-In
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/loginadmin">Admin</a></li>
                <li><a href="/login">Passenger</a></li>
                
              </ul>
            </li>






          </ul>
        </div>
      </nav>
<!-- image is not loading -->
<div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
          <h1 class="display-3">Welcome To Indian Railways</h1>
        </div>

  </div>
  <router-outlet></router-outlet>